@model WebsiteBanHang.Models.Entities.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Quản lý danh mục</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    @using (Html.BeginForm("AddCategory", "CategoryManager"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Thêm danh mục</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Tên danh mục", htmlAttributes: new { @class = "control-label col-md-2" })
               @* @Html.LabelFor(model => model.tendanhmuc, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tendanhmuc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tendanhmuc, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.Label("Số lượng", htmlAttributes: new { @class = "control-label col-md-2" })
                
                <div class="col-md-10">
                    @Html.EditorFor(model => model.soluong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.soluong, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Thêm mới" class="btn btn-default" onclick="return confirm('Bạn có muốn thêm thông tin?'); "/>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

    
