@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebsiteBanHang.Models.Entities.SubCategory>

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int count=0;
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Danh mục con</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <p>
        @Html.ActionLink("Thêm mới", "CreateSubCategory", "CategoryManager", null)
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.Label("STT")
            </th>
            <th>
                @Html.Label("Tên danh mục con")
            </th>
            <th>
                @Html.Label("Số lượng")
            </th>
            
            <th>
                @Html.Label("Chức năng")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>
                    @Html.Label(""+count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tendanhmuccon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.soluong)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "EditSubCategory", "CategoryManager", new { ma = item.mahienthi }, null) |
                    @if (item.soluong == 0)
                    {
                        @Html.ActionLink("Xóa", "DeleteSubCategory", "CategoryManager", new { ma = item.mahienthi }, new { onclick = "return confirm('Bạn có muốn xóa thông tin không?')" })
                    }
                    
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("Details", new { ma = ViewBag.madanhmuc, page = page }))
</div>

    
