@model WebsiteBanHang.Models.IndexData
@using WebsiteBanHang.Models.Entities;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Commit change
    List<List<Product>> featuredProducts = Model.featuredProducts;
    IQueryable<Product> lastestProducts = Model.lastestProducts;
    int i = 0;
}

<div class="span9">
    <div class="well well-small">
        <h4>Sản phẩm nổi bật <small class="pull-right">16 Sản phẩm nổi bật</small></h4>
        <div class="row-fluid">
            <div id="featured" class="carousel slide">
                <div class="carousel-inner">
                    @foreach (var list in featuredProducts)
                    {
                        if (i == 0)
                        {
                            <div class="item active">
                                <ul class="thumbnails">
                                    @foreach (var items in list)
                                    {
                                        <li class="span3">
                                            <div class="thumbnail" style="height:280px">
                                                <i class="tag"></i>
                                                <a href="/Home/ProductsDetail?ma=@items.ma"><img src=@items.imglink alt=""></a>
                                                <div class="caption">
                                                    <h5>@items.tensanpham</h5>
                                                    @{ string gia = double.Parse(items.dongia.ToString()).ToString("#,###") + "  VNĐ";}
                                                    <h4><a class="btn" href="/Home/ProductsDetail?ma=@items.ma">XEM</a> <span class="pull-right" style="font-size:small">@gia</span></h4>
                                                </div>
                                            </div>
                                        </li>

                                    }

                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <ul class="thumbnails">
                                    @foreach (var items in list)
                                    {
                                        <li class="span3">
                                            <div class="thumbnail" style="height:280px">

                                                <a href="/Home/ProductsDetail?ma=@items.ma"><img src=@items.imglink alt=""></a>
                                                <div class="caption">
                                                    <h5 class="ThanhViet">@items.tensanpham</h5>
                                                    @{ string gia = double.Parse(items.dongia.ToString()).ToString("#,###") + "  VNĐ";}
                                                    <h4><a class="btn" href="/Home/ProductsDetail?ma=@items.ma">XEM</a> <span class="pull-right" style="font-size:small">@gia</span></h4>
                                                </div>
                                            </div>
                                        </li>
                                    }

                                </ul>
                            </div>
                        }
                        i++;
                    }

                </div>
                <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#featured" data-slide="next">›</a>
            </div>
        </div>
    </div>
    <h4>Sản phẩm mới nhất </h4>
    <ul class="thumbnails">
        @foreach (var items in lastestProducts)
        {
            <li class="span3">
                <div class="thumbnail">
                    <a href="/Home/ProductsDetail?ma=@items.ma"><img src=@items.imglink alt="" /></a>
                    <div class="caption" style="display:block">
                        <h5>@items.tensanpham</h5>
                        <div class="ThanhViet" style="width:100%;text-align:center;font-size:x-small">
                            @items.mota
                        </div>

                        <h4 style="text-align:center">
                            <a class="btn" href="/Home/ProductsDetail?ma=@items.ma">
                                <i class="icon-zoom-in"></i>
                                @{ string gia = double.Parse(items.dongia.ToString()).ToString("#,###") + "  VNĐ";}
                            </a> <a class="btn" href="/ShoppingCart/Add?ma=@items.ma&&soluong=1">Thêm vào <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@gia</a>
                        </h4>
                    </div>
                </div>
            </li>
        }

    </ul>

</div>
